.movie-cards-base {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  justify-content: center;
  grid-gap: 2em;

  .movie-card {
    display: flex;
    align-items: flex-end;
    padding: .5rem;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    min-width: 500px;
    max-width: 640px;
    cursor: pointer;

    .card {
      display: flex;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px;

      img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-bottom: -5px;
        max-width: 320px;
        height: 480px;
      }

      .column {
        flex: 50%;
      }

      .container {
        padding: 0 4px 0;
        text-align: center;
        width: 100%;

        .cinema-logo {
          width: 32px;
          height: 32px;
        }
      }
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }
}

.movie-cards {
  padding: 0;
}

@media screen and (min-width: 1100px) {
  .movie-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 5vw;
  }
}

@media screen and (min-width: 1650px) {
  .movie-cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 7vw;
  }
}

@media screen and (min-width: 2200px) {
  .movie-cards {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10vw;
  }
}

@media screen and (min-width: 2750px) {
  .movie-cards {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 20vw;
  }
}

@media screen and (min-width: 3200px) {
  .movie-cards {
    grid-template-columns: repeat(5, 1fr);
    padding: 0 25vw;
  }
}

