<ul class="movie-cards movie-cards-base">
  <li *ngFor="let movie of movies" class="movie-card" (click)="goToMovie(movie)">
    <div class="card">
      <div class="column">
        <img [alt]="movie.title" [src]="movie.posterUrl"/>
      </div>

      <div class="container column">
        <h4><b>{{movie.title}}</b></h4>

        <p>{{movie.duration}}</p>

        <p>{{movie.cinema}}</p>
        
        <img class="cinema-logo" [alt]="movie.cinema" [src]="movie.cinemaLogoUrl">
      </div>
    </div>
  </li>
</ul>
